parameters:
    level: 1
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::(get|set|uns|has|calc|unset)[A-Z]#'
        - '#Undefined variable: \$block#'
    fileExtensions:
        - php
        - phtml
    excludes_analyse:
        - Test/*
