<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="admin__control-table-wrapper">
    <table class="admin__control-table">
        <thead>
            <tr>
                <th data-bind="i18n: 'eCurring product'"></th>
                <th data-bind="i18n: 'Product name'"></th>
                <th class="col-actions" data-bind="i18n: 'Actions'"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3" class="col-actions-add">
                    <button class="action-add" type="button">
                        <span data-bind="click: add, i18n: 'Add'"></span>
                    </button>
                </td>
            </tr>
        </tfoot>
        <tbody data-bind="foreach: rows">
            <tr>
                <td>
                    <select class="admin__control-select" data-bind="
                        value: productId,
                        options: $parent.options(),
                        optionsText: 'label',
                        optionsValue: 'value',
                        optionsCaption: 'Please select'
                    "></select>
                </td>
                <td><input class="admin__control-text" type="text" data-bind="value: name"></td>
                <td class="col-actions">
                    <button data-bind="click: function () { $parent.remove($index()); }" class="action-delete" type="button">
                        <span data-bind="i18n: 'Delete'"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>