<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="mollie_subscriptions_save_subscriptions_to_product" instance="Mollie\Subscriptions\Observer\CatalogProductSaveAfter\SaveSubscriptionToProduct"/>
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="mollie_save_selected_subscription" instance="Mollie\Subscriptions\Observer\CheckoutCartProductAddAfter\SaveSelectedSubscription" />
    </event>
    <event name="catalog_product_type_prepare_full_options">
        <observer name="mollie_add_subscription_to_options" instance="Mollie\Subscriptions\Observer\CatalogProductTypePrepareFullOptions\AddSubscriptionToProductOptions" />
    </event>
</config>
