<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="mollie_subscriptions_save_subscriptions_to_product" instance="Mollie\Subscriptions\Observer\CatalogProductSaveAfter\SaveSubscriptionToProduct"/>
    </event>
    <event name="mollie_process_response">
        <observer name="mollie_create_subscription" instance="Mollie\Subscriptions\Observer\MollieProcessResponse\CreateSubscriptions" />
    </event>
    <event name="checkout_allow_guest">
        <observer name="mollie_subscriptions_force_customer_login" instance="Mollie\Subscriptions\Observer\CheckoutAllowGuest\ForceCustomerLoginWhenSubscriptionItemInCart" />
    </event>
</config>
